html{
  background-color:#8b0000;
}
.topnav{
    overflow: hidden;
  background-color:navy;
  border-style:solid;
  border-color:#C5B358;
  border-radius:10px;
}
li {
  float: left;
  color: white;
text-align: center;
padding: 16px 16px;
text-decoration: none;
font-size:15px;
display: inline-block;
}
li a:hover {
 background-color: #C5B358;
 color: white;
 border-radius:5px;
}
li a.active {
  background-color: navy;
  color:white;
}
input{
  float:right;
  height: 30px;
  background-color:#ddd;
  font-family:georgia;
  font-weight:bold;
  width:200px;
  font-size:15px;
border-radius:7px;
}
a {
  text-decoration:none;
  color:white;
font-size:20px;
font-weight:bold;
border-bottom:2px solid #C5B358;
}
.sidebar{
  height:700px;
  width:350px;
  background-color:navy;
  border-radius:25px;
  border-style:solid;
  border-color:#C5B358;
  margin-top:7px;
}
.sidebar h1{
color:white;
text-align:center;
border-bottom: 3px solid #C5B358;
}
.infobar{
  height:650px;
  width:350px;
  background-color:navy;
  border-radius:25px;
  border-style:solid;
  border-color:#C5B358;
  position:absolute;
  right: 7px;
  margin-bottom:7px;
}
.infobar h1{
  color:white;
  text-align: center;
  border-bottom: 3px solid #C5B358;
}
footer {
display:block;
background-color:navy;
height:50px;
border-style:solid;
border-color:#c5b358;
border-width:3px;
margin-top:700px;
border-radius:7px;
}
#team{
  column-count: 2;
  column-gap: 2rem;
}
@media screen and (min-width: 768px)) {
  #team {
    column-count: 3;
    column-gap: 5rem;
  }
}
label{
  color:white;
}
